.main {
  display: flex;
} 

.main input, .main button {
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 3px gray;
  margin: 5px;
  outline: none;
  padding: 8px;
}

.day {
  align-items: center;
  background-color: gray;
  border-radius: 5px;
  box-shadow: 0px 0px 3px black;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  justify-content: center;
  margin: 15px;
  text-shadow: 0px 0px 1px black;
  padding: 10px;
}
.header {
    display: flex;
    justify-content: center;
    font-size: 24px;
} 

.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

